* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none !important;
}
header {
    padding-bottom: 10px !important;
    background-color: #F8F8F8 !important;
    /* border: 1px solid #002F34; */
}
.headerOne {
    display: flex;
    background-color: #F8F8F8;
    padding: 4px 0 10px 10px;
}
.headerTwo {
    display: flex;
    justify-content: space-evenly;
    background-color: #F7F8F8;
    align-items: center;
    /* border: 1px solid black; */
}
.sell {
    display: flex;
    align-items: center;
    padding: 10px 28px 10px 28px;
    background-image: url("./img/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.sellplus {
    font-size: 14px;
    font-weight: bold;
    color: #002F34;
}
.login {
    color: #002F34;
    font-size: 16px;
    font-weight: bold;
    /* border: 1px solid black; */
}
.searchBar {
    display: flex;
    width: 60%;
    /* border: 1px solid black; */
} 
.searchBar input {
    width: 95%;
    padding: 5px;
    color: #002F34;
    /* height: 50px; */
    border: 1px solid #002F34;
    border-radius: 4px 0 0 4px;
    outline: none;
}
input:hover {
    border: 1px solid #23E5DB;
    transition: all ease 0.6s;
}
.icon {
    /* border: 1px solid green; */
    background-color: #002F34;
    color: white;
    border-radius: 0 4px 4px 0;
}
.mybtn {
    background-color: #FFFFFF !important;
    margin-left: 2px;
    border: none !important;
    outline: none !important;
    /* border: 1px solid #002F34; */
}
.myselect {
    border: none !important;
    width: 195px;
    outline: none !important;
    color: #002F34;
}
.mygroup:hover {
    border-color: #23E5DB !important;
    transition: all ease 0.6s;
}

.mygroup {
    border: 1px solid #002F34;
    border-radius: 4px;
}
.login:hover {
    text-decoration: underline;
    color: #002F34;
}
/* --------------navbar-------------- */
.mynav {
    background-color: transparent !important;
    color: #002F34 !important;
    border: none !important;
    outline: none !important;
    /* border: 1px solid #002F34; */
    font-size: 14px !important;
}
.categories {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
.list {
    width: 100% !important;
}   
a {
    color: #002F34 !important;
    text-decoration: none !important;
    font-size: 14px;
    padding-right: 10px;
}
a:hover {
    color: #00B7DB !important;
}
/* <!-- ----------------/////recommendations-------- --> */
.mycard {
    display: flex;
    justify-content: space-between;
}
.mycard p {
    color: #002F34;
    font-size: medium;
}
.myrow1 {
    width: 90%;
}
h4 {
    font-weight: bolder !important;
    color: #002F34;
}
h3 {
    color: #002F34 !important;
}
.para {
    font-size: small;
    color: #002F34;
    opacity: 0.6;
}
.mariMarzi {
    background-color: #3A77FF !important;
}
h6 {
    text-align: center !important;
    font-weight: bold !important;
}
.para3 {
    text-align: center !important;
    font-size: 14px !important;
}
.startBox {
    font-size: 14px !important;
    border: 2px solid white !important;
    text-align: center !important;
    border-radius: 3px !important;
    margin-top: 180px !important;
}
/* --------//////loadbuton--------- */
.load {
    width: 8%;
    border: 2px solid #002F34;
    color: #002F34;
    text-align: center;
    margin: 0 auto;
    border-radius: 3px;
}
.load:hover {
    outline: 2px solid #002F34;
    cursor: pointer !important;
}
.myrow {
    width: 80%;
}
span {
    font-size: 12px !important;
    opacity: 0.6;
}
.myads {
    border: none !important;
}
.ads:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
/* ////////////banner........... */
.banner {
   justify-content: space-between;
   background-color: #F7F8F8 !important;
}
.imgbanner {
    padding-left: 10px;
}
h3 {
    font-weight: bold !important;
    margin-bottom: 10px !important;
    color: #002F34 !important;
}
.para4 {
    font-size: large !important;
    color: #002F34 !important;
}
.bannerTwo {
    border-left: 1px solid #002F34 !important;
}
.para5 {
    font-size: small !important;
    font-weight: bold !important;
    color: #002F34 !important;
}
/* ---------////footer........... */
.footerOne {
    justify-content: space-between;
    background-color: #EBEEEF !important;
}
.footerOne h6 {
    color: #002F34 !important;
    text-align: start !important;
    font-size: small !important;
    font-weight: bold !important;
}
.listfooter {
    font-size: small !important;
    color: #002F34 !important;
    opacity: 0.6;
}
li:hover {
    color: #002F34 !important;
    font-weight: bold;
    cursor: pointer;
}
.footerTwo {
    justify-content: flex-end;
    background-color: #002F34 !important;
}
h5 {
    font-size: small !important;
    color: white !important;
    font-weight: bold !important;
}
.para6 {
    font-size: small !important;
    color: white !important;
}
 img {
    cursor: pointer !important;
}
/* ------------end------------- */







/* ---------------media query-------------  */
@media only screen and (max-width : 998px) {
    .searchBar {
        width: 50%;
    }
    .para4 {
        font-size: small !important;
    }
    .imgbanner > img {
        height: 200px !important;
    }
    .bannerOne > h3 {
        font-size: larger;
    }
    .load {
        width: 100px;
    }
    .footer > h6 {
        font-size: small !important;
    }
    .listfooter {
        font-size: x-small !important;
    }
}
@media only screen and (max-width : 840px) {
    .searchBar {
        width: 50%;
    }
    .mygroup {
        width: 25%;
    }
    .list {
        width: 100%;
    }
    .list a {
        font-size: 12;
    }
    .sellplus {
        font-size: 12px;
    }
    .login {
        font-size: 12px;
    }
    .bannerOne > h3 {
        font-size: large;
    }
    .footer > h6 {
        font-size: x-small !important;
    }
}
@media only screen and (max-width : 768px) {
    .searchBar {
        width: 45%;
    }
    .mygroup {
        width: 25%;
    }
    .list a {
        font-size: 10px;
    }
}
@media only screen and (max-width : 768px) {
    .bannerOne {
        display: none;
    }
}
@media only screen and (max-width : 600px) {
    .headerOne , .headerTwo {
        height: 45px;
    }
    .searchBar {
        width: 40%;
        height: 35px;
    }
    .mygroup {
        width: 25%;
        height: 35px;
    }
    input {
       height: 35px;
    }
    input::placeholder {
        font-size: 10px;
        text-align: start;
    }
    .myselect {
        font-size: 10px;
    }
    .icon .fa-magnifying-glass {
        font-size: x-small;
    }
    button .fa-magnifying-glass {
        display: none;
    }
    .list a {
        font-size: 8px;
    }
}
/* ------------media end----------------- */




